.*
!/.gitignore
*.csv
*.jpg
*.h5
*.tfevents*
PASSWD_HASH.txt
#*.txt
*__pycache__*

!/computer-labs/CL1/iris.csv
!/home-assignments/HA2/conll_2002_ner_dataset.csv
!/home-assignments/HA3/cartpole.jpg
!/Poster Template/img/*

tags
tags.lock
tags.temp

*.html
